# 환경 설정
NODE_ENV=development

# 서버 포트
PORT=5001

# PostgreSQL 연결 URL
DATABASE_URL="postgresql://username:password@localhost:5432/docsru"

# JWT 비밀키 
JWT_ACCESS_SECRET="iFV0yCSfROz2nYC+9ZOKL7CArZCYzTj0//PrNDOq0TU="
JWT_REFRESH_SECRET="GjNa3ydQNhoWj5eXyS/hJhDs1hmloHFqWeND24VirwI="

# 백엔드/프론트엔드 URL
API_BASE_URL="http://localhost:5001"
CLIENT_BASE_URL="http://localhost:3000"

# OAuth (Google / Kakao / Naver)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=